body {
    font: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right, #00ff00,#ff0000);
    cursor: default;
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
    font: 900 1em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
    /*text-decoration: underline;*/
    cursor: text;
}

#random {
    padding: 10px 18px;
    font-size: 16px;
    outline: none;
    border: 2px black;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}
#random:hover {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.16);
    transition: 0.3s;
}

input {
    width: 58px;
    height: 32px;
    cursor: pointer;
}
